/* :3 ~Main~ :3 */

body {
    background-color: rgb(0, 0, 0);
    font-family: monospace;
    overflow-x: hidden;
    scrollbar-width: 0;
    width: 100%;
    margin: 0;
    height: auto;
}

/* :3 ~Light Mode~ :3 */

.light-mode *,
.light-mode {
    background-color: white !important; 
    color: black !important;
}

.light-mode .topbar,
.light-mode .page, 
.light-mode .sidenav,
.light-mode .sideset{
    background-color: rgb(255, 197, 226) !important;
}

/* :3 ~Grandma Mode~ :3 */

.grandma * {
    font-size: 3vw !important;
}

.grandma .page {
    height: 90vw !important;
}

.grandma .imagetype1 {
    width: 50vw !important;
}

.grandma .imagetype2 {
    width: 50vw !important;
}

/* :3 ~Fade in site~ :3 */

html {
    height: 100%;
    width: 100%;
    animation: fadeinsite 1.5s forwards;
}

@keyframes fadeinsite {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* :3 ~Background~ :3 */

#background-image {
    top: 0;
    left: 0;
    position: absolute;
    width: 100vw;
    height: auto;
    z-index: 1;
}

/* :3 ~Topbar~ :3 */

.topbar {
    height: 4vw;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: rgb(255, 53, 130);
    text-align: center;
}

.topbar a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: large;
    font-size: 2.5vw;
    font-weight: bold;
    text-align: center; 
    line-height: 4vw;
}

#nav-button {
    top: 0.8vw;
    left: 1vw;
    width: 2.5vw;
    height: 2.5vw;
    position: fixed;
    z-index: 15;
    transition: transform 0.2s ease-out;
    cursor: pointer;
}

#set-button {
    top: 0.5vw;
    right: 1vw;
    width: 3vw;
    height: 3vw;
    position: fixed;
    z-index: 15;
    transition: transform 0.2s ease-out;
    cursor: pointer;
}

.rotate {
    transform: rotate(90deg);
}

/* :3 ~Menu~ :3 */

#sidenav{
    top: -100%;
    height: auto;
    width: 18vw;
    position: fixed;
    z-index: 5;
    bottom: 0;
    overflow-x: hidden;
    padding-top: 20px;
    left: 0; 
    animation: slidein 0.5s ease-out forwards;
    background: linear-gradient(to bottom, rgb(255, 53, 130) 30%, rgb(255, 105, 180) 60%, rgb(255, 197, 226) 100%);
}

#sideset{
    top: -100%;
    height: auto;
    width: 18vw;
    position: fixed;
    z-index: 5;
    bottom: 0;
    overflow-x: hidden;
    padding-top: 20px;
    right: 0; 
    animation: slidein 0.5s ease-out forwards;
    background: linear-gradient(to bottom, rgb(255, 53, 130) 30%, rgb(255, 105, 180) 60%, rgb(255, 197, 226) 100%);
}

@keyframes slidein {
    0% {
      top: -100%; 
      transform: translateY(-100%); 
    }
  
    100% {
      top: 4vw; 
      transform: translateY(0); 
    }
  }

.nodisplay {
    display: none;
}

/* :3 ~Menu Buttons~ :3 */

.sidemenu-buttons {
    padding: 15px;
    font-size: 15px;
    font-weight: 500;
}

.sidemenu-buttons a, p {
    color: white; 
    padding: 15px;
    display: block; 
    text-align: center; 
    text-decoration: none; 
    font-size: 1vw;
    font-weight: 900;
    text-shadow: 0px 10px 100px rgb(0, 0, 0);
    cursor: pointer;
}

.sidemenu-buttons p:hover {
    opacity: 0.6;
}

/* :3 ~Social Links~ :3 */

.social-links{
    display: flex;
    top: 0;
    left: 0;
    justify-content: center;
    gap: 20px;
}

.social-links img:hover {
    opacity: 0.6;
    cursor: pointer;
}


/* :3 ~Page Links~ :3 */

.links {
    text-align: center;
    margin-top: 15vw;
    color: white;
    font-size: 1vw;
}

.links a {
    color: white;
}

.links a:hover {
    opacity: 0.6;
}

/* :3 ~Pages~ :3 */

.title {
    color: white;
    font-size: 3vw;
    text-align: center;
    margin-bottom: 5vw;
}

/* :3 ~Sections~ :3 */

.section1 {
    margin-top: 25vw;
}

.section2 {
    margin-top: 30vw;
}

.section3 {
    margin-top: 35vw;
}

.section4 {
    margin-top: 40vw;
}

/* :3 ~Page box~ :3 */

.page {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgb(255, 53, 130);
    height: 32vw;
    flex-direction: row;
    padding: 0;
    gap: 0;
}

.page p,
.page a {
    width: calc(100% - 24vw);       
    flex-wrap: wrap;             
    white-space: normal;             
    overflow-wrap: break-word;     
    margin-top: 1vw;
    margin-right: 0;
    padding: 0;
    color: white;
    font-size: 1.8vw;
}

.page p {
    margin-left: 2vw;
    margin-right: 2vw;
}

a:hover {
    opacity: 0.6;
}

/* :3 ~Media Fit to Device~ :3 */

@media only screen and (max-width: 1200px) {
    
}



