
/* :3 ~Main~ :3 */

body {
    background-color: rgb(255, 255, 255);
    font-family: monospace;
    overflow-x: hidden;
    background-color: black;
    scrollbar-width: 0;
}

#background-image {
    top: 0;
    left: 0;
    position: absolute;
    width: calc(100vw);
    height: auto;
}

#background-image img {
    width: 100%;
    height: auto;
}

/* :3 ~Topbar~ :3 */

.topbar {
    height: 4vw;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: rgb(255, 53, 130);
    text-align: center;
}

.topbar a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: large;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center; 
    line-height: 4vw;
}

#nav-button {
    top: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
    position: fixed;
    z-index: 4;
    transition: transform 0.2s ease-out;
}

#set-button {
    top: 5px;
    left: 60px;
    width: 50px;
    height: 50px;
    position: fixed;
    z-index: 4;
    transition: transform 0.2s ease-out;
}

.rotate {
    transform: rotate(90deg);
}

/* :3 ~Menu~ :3 */

#sidenav{
    top: -100%;
    height: auto;
    width: 18em;
    position: fixed;
    z-index: 1;
    bottom: 0;
    overflow-x: hidden;
    padding-top: 20px;
    left: 0; 
    animation: fadein 0.5s ease-out forwards;
    background: linear-gradient(to bottom, rgb(255, 53, 130) 30%, rgb(255, 105, 180) 60%, rgb(255, 197, 226) 100%);
}

#sideset{
    top: -100%;
    height: auto;
    width: 18em;
    position: fixed;
    z-index: 1;
    bottom: 0;
    overflow-x: hidden;
    padding-top: 20px;
    left: 0; 
    animation: fadein 0.5s ease-out forwards;
    background: linear-gradient(to bottom, rgb(255, 53, 130) 30%, rgb(255, 105, 180) 60%, rgb(255, 197, 226) 100%);
}

@keyframes fadein {
    0% {
      top: -100%; 
      transform: translateY(-100%); 
    }
  
    100% {
      top: 4vw; 
      transform: translateY(0); 
    }
  }

.nodisplay {
    display: none;
}

/* :3 ~Menu Buttons~ :3 */

.sidemenu-buttons {
    padding: 15px;
    font-size: 15px;
    font-weight: 500;
}

.sidemenu-buttons a {
    color: white; 
    padding: 15px;
    display: block; 
    text-align: center; 
    text-decoration: none; 
}

.sidemenu-buttons a:hover {
    opacity: 0.6; 
}

/* :3 ~Page~ :3 */

.links {
    text-align: center;
    margin-top: 17em;
    color: white;
    font-size: 15px;
}

.links a {
    color: white;
}

.links a:hover {
    opacity: 0.6;
}
