<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="../CSS/stylesheet_index.css">
</head>
<body>
    <header>

        <!-- Title -->
        <div id="topbar">
            <a href="../index.html">unicfoxx's Portfolio</a>
        </div>
		
		<div id="centerer">
		<form id="loginpage" action="/login" method="POST">
            <h2>Login</h2>
            <label for="email">E-Mail:</label>
            <input type="email" id="email" name="email"><br><br>
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password"><br><br>
            
            <input type="submit" value="Login">
        </form>
		</div>
</body>
</html>



