<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="../CSS/stylesheet_index.css">
</head>
<body>
    <header>
        <div id="topbar">
            <a href="../index.html">unicfoxx's Portfolio</a>
        </div>
        <div id="centerer">
            <form id="signuppage" action="/signup" method="POST">
                <h2>Sign Up</h2>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username"><br><br>
                
                <label for="email">E-Mail:</label>
                <input type="email" id="email" name="email"><br><br>
                
                <label for="password">Password:</label>
                <input type="password" id="password" name="password"><br><br>
                
                <input type="submit" value="Sign Up">
            </form>
        </div>
    </header>
</body>
</html>
